/* style.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

h1,
h2 {
    text-align: center;
}

.grid-size-input,
#solution-grid {
    margin: 20px 0;
}

label {
    margin-right: 10px;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px 0;
}

.nonogram-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.clues-row {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: auto 1fr;
}

.empty-cell {
    width: var(--clue-size);
    height: var(--clue-size);
}

#col-clues {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0;
}

.clues-grid {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: auto 1fr;
}

#row-clues {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 0;
}

#empty-grid {
    display: grid;
    grid-gap: 0;
}

.clue-input {
    width: var(--clue-size);
    height: var(--clue-size);
    margin: 2px;
    box-sizing: border-box;
    border: 1px solid #000;
}

.clue-input input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    font-size: var(--clue-font-size);
}

#solution-grid {
    display: grid;
    grid-gap: 1px;
    background-color: #ccc;
    justify-content: center;
}

#solution-grid div {
    width: 20px;
    height: 20px;
}

.cell-filled {
    background-color: black;
}

.cell-empty {
    background-color: white;
}

.import-export {
    margin-top: 10px;
}

#import-input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

#solution-navigation {
    text-align: center;
    margin-top: 10px;
}

#solution-navigation button {
    padding: 5px 10px;
    margin: 0 10px;
}

#solution-count {
    font-weight: bold;
}

@media (max-width: 600px) {
    .clue-input {
        width: 50px;
        height: 50px;
    }

    .clue-input input {
        font-size: 14px;
    }

    input[type="number"] {
        width: 50px;
    }
}